<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Type Fast</title>
    <link rel="stylesheet" href="./css/typing.css">
</head>
<body>
    <div class="contents">
        <p class="content-title">Type Fast</p>
        <div class="typing-section">
            <div class="stats">
                <div class="stat">
                    <p class="stat-title">Accuracy</p>
                    <p id="accuracy" class="stat-value"><span id="accuracy-value">100</span>%</p>
                </div>
                <div class="stat">
                    <p class="stat-title">WPM</p>
                    <p id="wpm" class="stat-value"><span id="wpm-value">100</span>WPM</p>
                </div>
                <div class="stat">
                    <p class="stat-title">Time</p>
                    <p id="time" class="stat-value"><span id="time-value">60</span>S</p>
                </div>
                <div class="stat">
                    <p class="stat-title">Errors</p>
                    <p id="errors" class="stat-value"><span id="errors-value">0</span></p>
                </div>
            </div>
            
            <p class="paragraph-box" id="paragraph-box"><%= data %></p>
            <p class="typing-box" id="typing-box"></p>
        </div>
    </div>
</body>
<script>

    //STATS 
    const accuracyValue = document.getElementById("accuracy-value")
    const wpmValue = document.getElementById("wpm-vlaue")
    const timeValue = document.getElementById("time-value")
    const errorsValue = document.getElementById("errors-value")

    const typingBox = document.getElementById("typing-box")
    const paragraphBox = document.getElementById("paragraph-box")

    //HANDLE DIFFERENT KEYS FOR KEYDOWN EVENT
    let typedletters = ""
    document.addEventListener("keydown",(e)=>{
        if(e.key === "Shift"){
            return 
        }
        if(e.key === "CapsLock"){
            // preventing default behaviour can also be done with shift, capslock, control, meta ....
            //e.preventDefault()  
            return 
        }
        if(e.key === "Tab"){
            e.preventDefault()  //prevent default behaviour for tab key. 
            return
        }
        if(e.key === "Alt"){
            e.preventDefault() //prevent default behaviour for alt key
            return 
        }
        if(e.key === "Meta"){       //windows key
            return
        }
        if(e.key === "Control"){
            return
        }
        if(e.key === "Backspace"){
            /* typedletters = typedletters.slice(0,-1)
            typingBox.textContent = typedletters
            return */
            typedletters = typedletters.slice(0,-1)
            typingBox.lastElementChild.remove()
            return
        }
        if(e.key === "Enter"){
            /* typedletters += "\n"
            typingBox.textContent = typedletters
            return */
            typedletters += "\n"
            const span = document.createElement("span")
            span.textContent = "\n"
            typingBox.append(span)
            return 
        }
        typedletters+= e.key 
        const index = typedletters.length - 1
        if(typedletters[index] === paragraphBox.textContent[index]){
            const span = document.createElement("span")
            span.classList.add("letter-correct")
            span.textContent = e.key
            typingBox.append(span)
            console.log("Same key pressed")
        }else{
            const span = document.createElement("span")
            span.classList.add("letter-incorrect")
            span.textContent = e.key
            typingBox.append(span)
            console.log("different key pressed")
        }
        //typingBox.textContent = typedletters

    })

</script>
</html>