<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Type Fast</title>
    <link rel="stylesheet" href="./css/typing.css">
</head>
<body>
    <div class="contents">
        <p class="content-title">Type Fast</p>
        <div class="typing-section">
            <div class="stats">
                <div class="stat">
                    <p class="stat-title">Accuracy</p>
                    <p id="accuracy" class="stat-value"><span id="accuracy-value">100</span>%</p>
                </div>
                <div class="stat">
                    <p class="stat-title">WPM</p>
                    <p id="wpm" class="stat-value"><span id="wpm-value">100</span>WPM</p>
                </div>
                <div class="stat">
                    <p class="stat-title">Time</p>
                    <p id="time" class="stat-value"><span id="time-value">60</span>S</p>
                </div>
                <div class="stat">
                    <p class="stat-title">Errors</p>
                    <p id="errors" class="stat-value"><span id="errors-value">0</span></p>
                </div>
            </div>
            
            <p class="paragraph-box"><%= data %></p>
            <p class="typing-box">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae numquam dignissimos labore nulla odio animi laboriosam veniam quas quasi consectetur inventore iste, iusto ratione sint temporibus tenetur minus et explicabo.</p>
        </div>
    </div>
</body>
</html>